<table border="3">
	<thead>
		<tr>
			<th>DocumentID</th>
         	<th>Source</th>
         	<th>Role</th>
            <th>Type</th>
         	<th>FileType</th>
        </tr>
    </thead>
    <tbody>
    {{#myDocuments}}
        <tr>
            <td>{{this.userEmail.S}}</td>
            <td>{{this.userID.S}}</td>
            <td>{{this.Table.S}}</td>
            <td>{{this.userRole.S}}</td>
            <td><a href='{{this.URL.S}}'>File Link</a></td>
        </tr>
    {{/myDocuments}}
    </tbody>			   
</table>
